body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

.form {
    background: white;
    width: 70%;
    margin: 50px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.form input {
    width: 220px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
}

.form button {
    background: #f2c300;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
}